
<div class="catalog-filters">
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">тип светильников</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter catalog-filter--open">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title catalog-filter__title--active">цена</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox">
            <div class="badge badge--black">new</div><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox">
            <div class="badge badge--red">sale</div><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">Тип лампы</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">Стиль светильника</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter"> 
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">место применения</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">пл. освещения, м2</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">Тип цоколя</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">цветовая температура</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">IP</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">цвет арматуры</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">материал арматуры</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">цвета</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">коллекция</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">материал плафона/декора</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">длина светильника, см</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">высота светильника, см</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">   
    <div class="catalog-filter__top">
      <h3 class="catalog-filter__title">ширина светильника, см</h3>
      <div class="catalog-filter__toggle"></div>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__list">
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Новый</span><span class="custom-checkbox__quantity">22</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Распродажа</span><span class="custom-checkbox__quantity">30</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Под заказ</span><span class="custom-checkbox__quantity">0</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">В наличии</span><span class="custom-checkbox__quantity">31</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Участник TV передачи</span><span class="custom-checkbox__quantity">1</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Есть 3D модель</span><span class="custom-checkbox__quantity">2</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox"><span class="custom-checkbox__text">Регулировка по высоте</span><span class="custom-checkbox__quantity">5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>