
<ul class="catalog-grid__list">
  <li class="catalog-grid__item"><a href="/card.html"> 
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-1.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
          <div class="badge badge--red product__badge">sale</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image"> 
          <div class="product__img"> <img src="img/luster-2.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image"> 
          <div class="product__img"> <img src="img/luster-3.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image"> 
          <div class="product__img"> <img src="img/luster-1.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-2.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product"> 
        <div class="badge-wrap">
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image"> 
          <div class="product__img"> <img src="img/luster-3.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-1.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image"> 
          <div class="product__img"> <img src="img/luster-2.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap">
          <div class="badge badge--black product__badge">new </div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-3.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-1.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-2.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: <span>110 шт.</span></div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <li class="catalog-grid__item"><a href="/card.html">
      <article class="product">
        <div class="badge-wrap"> 
          <div class="badge badge--black product__badge">new</div>
        </div>
        <div class="product__favorite"></div>
        <div class="product__image">
          <div class="product__img"> <img src="img/luster-3.png"></div>
          <div class="product__image_buttons">
            <ul class="product__image--list">
              <li class="product__image--item">
                <button class="btn-reset product__image--favorite"></button>
              </li>
              <li class="product__image--item">
                <button class="btn-reset product__image--order"></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product__info-wrap">
          <div class="product__info-titles">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__quantity">В наличии: 110 шт.</div>
            <div class="product__price">88 000 ₽</div>
          </div>
        </div>
      </article></a></li>
  <section class="pagination">
    <button class="default-btn pagination__main-btn btn-reset">показать больше</button>
    <div class="pagination__btns">
      <button class="btn--white btn-reset pagination-btn pagination-btn--left"></button>
      <button class="btn--white btn-reset pagination-btn">1</button>
      <button class="btn--white btn-reset pagination-btn">2</button>
      <button class="btn--white btn-reset pagination-btn">3</button>
      <button class="btn--white btn-reset pagination-btn">4</button>
      <button class="btn--white btn-reset pagination-btn">...</button>
      <button class="btn--white btn-reset pagination-btn">25</button>
      <button class="btn--white btn-reset pagination-btn pagination-btn--right"> </button>
    </div>
  </section>
</ul>