
<div class="container container__last-products">
  <section class="last-products"> 
    <div class="last-products__header">
      <h3 class="last-products__title">Последние просмотренные товары</h3>
      <div class="last-products__btns"><img class="last-products__btn" src="img/arrow-left.svg"><img class="last-products__btn" src="img/arrow-right.svg"></div>
    </div>
    <ul class="catalog-grid__list">
      <li class="catalog-grid__item">
        <article class="product"> 
          <div class="product__image"> <img src="img/luster-1.png"></div>
          <div class="product__info">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__price">88 000 ₽</div>
            <div class="product__quantity">В наличии: 110 шт.</div>
          </div>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product"> 
          <div class="product__image"> <img src="img/luster-2.png"></div>
          <div class="product__info">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__price">88 000 ₽</div>
            <div class="product__quantity">В наличии: 110 шт.</div>
          </div>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product"> 
          <div class="product__image"> <img src="img/luster-3.png"></div>
          <div class="product__info">
            <h3 class="product__title">Люстра Аrte Lamp Rosaria</h3>
            <h4 class="product__subtitle">A8564PL-5RB</h4>
          </div>
          <div class="product__info-price"> 
            <div class="product__price">88 000 ₽</div>
            <div class="product__quantity">В наличии: 110 шт.</div>
          </div>
        </article>
      </li>
    </ul>
  </section>
</div>