
<section class="pagination">
  <button class="default-btn pagination__main-btn btn-reset">показать больше</button>
  <div class="pagination__btns">
    <button class="btn--white btn-reset pagination-btn pagination-btn--left"></button>
    <button class="btn--white btn-reset pagination-btn">1</button>
    <button class="btn--white btn-reset pagination-btn">2</button>
    <button class="btn--white btn-reset pagination-btn">3</button>
    <button class="btn--white btn-reset pagination-btn">4</button>
    <button class="btn--white btn-reset pagination-btn">...</button>
    <button class="btn--white btn-reset pagination-btn">25</button>
    <button class="btn--white btn-reset pagination-btn pagination-btn--right"> </button>
  </div>
</section>